@import "../global/colors";

.button {
    width: 100%;
    padding: .5rem 0rem;
    @include font-family;
    font: {
        size: 1rem;
        weight: 900;
    }
    color: $blue;
    cursor: pointer;
    background: $green;
    border: 2px solid $white;
    transition: opacity 1s ease-in-out;

    &:focus {
        outline: none;
    }
}
