@import "../global/colors";

.button {
    width: 100%;
    padding: 1rem;
    @include font-family;
    font: {
        size: 1.25rem;
        weight: 900;
    }
    color: $white;
    cursor: pointer;
    background: $green;
    border-color: $green;
    transition: opacity 1s ease-in-out;

    &:hover {
        opacity: 0.75;
    }

    &:focus {
        outline: none;
        opacity: 0.75;
    }
}
