/**
 *
 * Hamburger styles
 *
 */

@import "../../global/colors";

.hamburger {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;

    &:focus {
        outline: none;
    }

    .wrapper {
        display: flex;
        width: 1.5rem;
        height: 1.15rem;
        flex-direction: column;
        justify-content: space-between;

        .bun,
        .patty {
            display: flex;
            width: 100%;
            height: 2px;
            background: $white;
        }

        &.active {
            .bun,
            .patty {
                background: $blue;
            }
        }
    }
}
