/*
 *
 * Mixins
 *
 */

@mixin hundo-percent {
    width: 100vw;
    height: 100vh;
}

@mixin font-family {
    font: {
        family: $fontFamily;
        size: 1rem;
    }
}

@mixin font-family-alt {
    font: {
        family: $fontFamilyAlt;
        size: 1rem;
    }
}
